.wrapper {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    display: flex;
    width: 100%;
    height: 250px;
}

.name {
    background-color: darkslategray;
    width: 40%;
    font-family: "Roboto";
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-bottom: 2px solid cadetblue;
}

.person {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.cv {
    display: flex;
    font-size: 30px;
    padding-left: 20px;
}

.photo {
    background-color: darkslategray;
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-bottom: 2px solid cadetblue;
}

.contact {
    background-color: darkslategray;
    width: 40%;
    font-family: "Roboto";
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    border-bottom: 2px solid cadetblue;
}

.content {
    width: 100%;
    height: 570px;
    background-color: cadetblue;
    font-family: "Roboto";
    color: white;
    font-size: 18px;
    display: flex;
}

.info {
    background-color: darkslategray;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.qualifications {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.disclaimer {
    width:1000px;
    height: 50px;
    background-color: midnightblue;
    font-family: "Roboto";
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-long {
    width:500px;
    color: white;
}

.line-short {
    width: 280px;
    color: white;
}

.about {
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 20px;
}

.about-text {
    margin-bottom: 20px;
}

.education {
    margin-bottom: 20px;
    margin-top: 25px;
    font-size: 20px;
}

.university {
    margin-bottom: 20px;
}

.experience {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.experience-text {
    margin-bottom: 20px;
}

.certificates {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.interest {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}

.interest-text {
    margin-bottom: 20px;
}

.additional {
    margin-top: 20px;
    font-size: 20px;
}